header {
    .grid-layout {
        @include spacing-layout;
        position: fixed;
        width: 100%;
        height: $gap-6;
        background: $bg-second-color;
        border-bottom: 2px solid #32ccbdb5;

        #header {
            @include flexbox-between;
            position: relative;

            h1 {
                text-transform: uppercase;

                width: 201px;
                height: 60px;

                font-family: "Hermeneus One";
                font-style: normal;
                font-weight: 400;
                font-size: 50px;
                line-height: 60px;

                color: #32ccbc;

                @include responsive-tablet {
                    font-size: 30px;
                }
            }

            .nav {
                @include flexbox-center;
                flex-wrap: wrap;
                list-style: none;
                @include responsive-tablet{
                    display: none;
                }

                .nav-list {
                    position: relative;
                    @include hover-link();
                    margin-left: $gap-4;
                    a {
                        width: 246px;
                        height: 46px;
                        color: $text-scolor;
                        text-decoration: none;

                        font: {
                            size: 1.5em;
                            weight: 400;
                            style: normal;
                            family: 'IBM Plex Sans';
                            height: 46px;
                        }

                        &:hover {
                            color: $text-tcolor;
                        }
                        @include responsive-tablet {

                            margin-left: $gap-2;


                            font: {
                                size: 1em;
                                weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}
