*{padding:0;margin:0;-webkit-box-sizing:border-box;box-sizing:border-box}html,body{height:100%;width:100%}header .grid-layout{padding:32px 124px;position:fixed;width:100%;height:124px;background:#fff;border-bottom:2px solid rgba(50,204,189,.7098039216)}@media screen and (max-width: 768px){header .grid-layout{padding:32px 72px}}header .grid-layout #header{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:relative}header .grid-layout #header h1{text-transform:uppercase;width:201px;height:60px;font-family:"Hermeneus One";font-style:normal;font-weight:400;font-size:50px;line-height:60px;color:#32ccbc}@media screen and (max-width: 768px){header .grid-layout #header h1{font-size:30px}}header .grid-layout #header .nav{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-wrap:wrap;flex-wrap:wrap;list-style:none}@media screen and (max-width: 768px){header .grid-layout #header .nav{display:none}}header .grid-layout #header .nav .nav-list{position:relative;margin-left:32px}header .grid-layout #header .nav .nav-list::after{content:"";position:absolute;width:100%;-webkit-transform:scaleX(0);transform:scaleX(0);height:1px;bottom:-7px;left:0;background:-webkit-gradient(linear, right top, left top, from(#32ccbc), to(#32ccbc));background:linear-gradient(270deg, #32ccbc 0%, #32ccbc 100%);-webkit-transform-origin:bottom right;transform-origin:bottom right;-webkit-transition:-webkit-transform .5s cubic-bezier(0.86, 0, 0.07, 1);transition:-webkit-transform .5s cubic-bezier(0.86, 0, 0.07, 1);transition:transform .5s cubic-bezier(0.86, 0, 0.07, 1);transition:transform .5s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform .5s cubic-bezier(0.86, 0, 0.07, 1)}header .grid-layout #header .nav .nav-list:hover::after{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:bottom left;transform-origin:bottom left}header .grid-layout #header .nav .nav-list a{width:246px;height:46px;color:#000;text-decoration:none;font-size:1.5em;font-weight:400;font-style:normal;font-family:"IBM Plex Sans";font-height:46px}header .grid-layout #header .nav .nav-list a:hover{color:#32ccbc}@media screen and (max-width: 768px){header .grid-layout #header .nav .nav-list a{margin-left:16px;font-size:1em;font-weight:bold}}#header .menu-mobile{display:none}@media screen and (max-width: 768px){#header .menu-mobile{display:block}}#header .menu-mobile .menu-icon{-webkit-transform:scale(1.5);transform:scale(1.5)}#header .menu-mobile .menu-icon{position:relative;width:50px;height:50px;cursor:pointer}#header .menu-mobile .menu-icon .menu-icon__cheeckbox{display:block;width:100%;height:100%;position:relative;cursor:pointer;z-index:2;-webkit-touch-callout:none;position:absolute;opacity:0}#header .menu-mobile div{margin:auto;position:absolute;top:0;right:0;left:0;bottom:0;width:22px;height:12px}#header .menu-mobile span{position:absolute;display:block;width:100%;height:2px;background-color:var(--bar-bg, #32ccbc);border-radius:1px;-webkit-transition:all .2s cubic-bezier(0.1, 0.82, 0.76, 0.965);transition:all .2s cubic-bezier(0.1, 0.82, 0.76, 0.965)}#header .menu-mobile span:first-of-type{top:0}#header .menu-mobile span:last-of-type{bottom:0}#header .menu-mobile.active span:first-of-type,#header .menu-mobile .menu-icon__cheeckbox:checked+div span:first-of-type{-webkit-transform:rotate(45deg);transform:rotate(45deg);top:5px}#header .menu-mobile.active span:last-of-type,#header .menu-mobile .menu-icon__cheeckbox:checked+div span:last-of-type{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);bottom:5px}#header .menu-mobile.active:hover span:first-of-type,#header .menu-mobile.active:hover span:last-of-type,#header .menu-mobile:hover .menu-icon__cheeckbox:checked+div span:first-of-type,#header .menu-mobile:hover .menu-icon__cheeckbox:checked+div span:last-of-type{width:22px}#header .nav-mobile{display:none;position:absolute;width:250px;height:250px;background:rgba(246,245,245,.904);-webkit-box-shadow:9px 4px 4px rgba(50,204,188,.25);box-shadow:9px 4px 4px rgba(50,204,188,.25);border-radius:51px}@media screen and (max-width: 768px){#header .nav-mobile{left:33vw;top:8vh}}@media screen and (max-width: 412px){#header .nav-mobile{left:-12vw;top:8vh}}@media screen and (min-width: 1024px){#header .nav-mobile{display:none}}@media screen and (min-width: 534px){#header .nav-mobile{left:29vw;top:8vh}}#header .nav-mobile{padding:32px}#header .nav-mobile .navM{list-style:none;text-align:center}#header .nav-mobile .navM .nav-list{margin:22px;font-size:20px;font-weight:400;font-style:normal;font-family:"IBM Plex Sans";font-height:25px}#header .nav-mobile .navM .nav-list a{text-decoration:none;color:#000;border-bottom:2px solid #32ccbc}#header .show{display:block}body{background-color:#f4f2f2}0.904);
  -webkit-box-shadow: 9px 4px 4px rgba(50, 204, 188, 0.25);
          box-shadow: 9px 4px 4px rgba(50, 204, 188, 0.25);
  border-radius: 51px;
}
@media screen and (max-width: 768px) {
  #header .nav-mobile {
    left: 33vw;
    top: 8vh;
  }
}
@media screen and (max-width: 412px) {
  #header .nav-mobile {
    left: -12vw;
    top: 8vh;
  }
}
@media screen and (min-width: 1024px) {
  #header .nav-mobile {
    display: none;
  }
}
@media screen and (min-width: 534px) {
  #header .nav-mobile {
    left: 29vw;
    top: 8vh;
  }
}
#header .nav-mobile {
  padding: 32px;
}
#header .nav-mobile .navM {
  list-style: none;
  text-align: center;
}
#header .nav-mobile .navM .nav-list {
  margin: 22px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-family: "IBM Plex Sans";
  font-height: 25px;
}
#header .nav-mobile .navM .nav-list a {
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid #32ccbc;
}
#header .show {
  display: block;
}

body {
  background-color: #f4f2f2;
}